.CardWrapper{
    background: #f0f0f0;
    width: 100%;
    min-height:150px;
    .ImgPart{
        img{
            width: auto;
            height: auto;
        }
       
    }
    .FooterPart {

    }
}